<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&family=NTR&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container page">
        <div class="row">
            <div class="col-md-6 col-print-6">
                <h1 id="name">{{ name }}</h1>
                <h3 id="title"> {{title}}</h3>
                <p>
                    <time datetime="{{ buildinfo.date }}" class="text-muted screen">Last update: {{ updated }}</time>
                </p>
                <button class="btn btn-light btn-sm screen">
                    <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o"
                                aria-hidden="true"></i>Download PDF</a></span>

                </button>
            </div>
            <div class="col-md-6 col-print-6">
                <dl class="row">
                    {{#each facts}}
                    <dt class="col-md-3 contact">{{ @key }}</dt>
                    <dd class="col-md-9  contact">{{{ this }}}</dd>
                    {{/each}}
                </dl>
            </div>
        </div>
        <div class="summary">
            <h3 class="">Summary</h3>
            <div class="screen">
                <br>
            </div>
            <ul>
                <li>
                    Full stack web developer with a successful track record in developing pertinent user experiences in high-volume web and mobile applications.   
                </li>
                <li>
                    Held various roles in creative fields as designer architect, graphic designer and UX / UI designer.   
                </li>
                <li>
                    Proactive team player who takes initiative and collaborates effectively with other developers to maximize team commitment to product goals.
                </li>
                <li>
                    Principled self-teacher who can enhance his skill sets quickly while being able to mentor and lead other contributors.
                </li>
            </ul>
            <div class="screen">
                <br>
            </div>
            
        </div>
        <hr class="screen"></hr>
        <h3 class="">Skills</h3>
        <div class="screen">
            <br>
        </div>
        <div class="row edu">
            {{#each skills}}
            <div class="col-auto screen">
                <span class="badge badge-pill badge-lighter">{{ this.[0] }}</span>
            </div>

            <div class="col-print-2 col-md-2 print">
                <small>{{ this.[0] }}</small>
            </div>
            {{/each}}
        </div>
        </br class="screen">
        <h3 id="prof">Professional Work Experience</h3>
        </br class="screen">
        {{#each plays}}
        <div class="card mb-4 edu">
            <div class="card-body">
                <div class="row jobtitle">
                    <h4 class="col-md-8">{{ title }}</h4>
                    <span class="col-md-4">{{ time }}</span>
                </div>
                <div class="row">
                    <h5 class="col-md-8"><a href="{{ website }}">{{ company }}</a></h5>
                    <span class="col-md-4 text-muted">{{ location }}</span>
                </div>
                </br class="print">
                <div class="col-12">
                    {{{markdown contents}}}
                </div>
                <ul>
                    {{#each points }}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="card-body">
                <div>
                    <h6>TECH STACK</h6>
                    {{#each badges }}
                    <span class="badge badge-primary">- {{ this }}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        <hr class="screen">
        </hr>
        {{/each}}

        <h3 class="screen">Education</h3>
        <div class="screen">
            <br>
        </div>

        <div class="card mb-4 screen">

            <div class="row card-body">
                <div class="col-md-3">
                    <a href="https://www.lighthouselabs.ca/en/web-development-bootcamp">Lighthouse Labs</a>
                </div>
                <div class="col-md-5">
                    Full Stack Web Development Bootcamp
                </div>
                <div class="col-md-4 text-muted">
                    August 2019 - November 2019
                </div>
            </div>
            <hr>
            </hr>
            <div class="row card-body">
                <div class="col-md-3">
                    <a href="https://www.mcgill.ca/architecture/programs">McGill University</a>
                </div>
                <div class="col-md-5">
                    <p>Bachelor of Science in Architecture</p>
                    <small>Undergraduate Degree</small>
                </div>
                <div class="col-md-4 text-muted">
                    September 2011 - June 2015
                </div>
            </div>
        </div>
        <!-- For printing only -->
        <div class="print">
            <br>
        </div>
        <div class="print">
            <h3 class="print">Education</h3>
            <div class="print">
                <br>
            </div>
            <div class="row school print">
                <div class="col-md-3">
                    Lighthouse Labs
                </div>
                <div class="col-md-5">
                    Full Stack Web Development Bootcamp
                </div>
                <div class="col-md-4">
                    August 2019 - November 2019
                </div>
                <div class="col-md-12 print">Montréal, QC</div>
            </div>

            <div class="row school print">
                <div class="col-md-3">
                    McGill University
                </div>
                <div class="col-md-5">
                    Bachelor of Science in Architecture
                </div>
                <div class="col-md-4">
                    September 2011 - June 2015
                </div>
                <div class="col-md-12 print">Montréal, QC</div>
            </div>
        </div>
        <div class="print">
            <br>
        </div>
        <!-- Certificates  Section -->
        <h3 class="print">Certificates</h3>
        <div class="print">
            <br>
        </div>

        <div class="card mb-4 print">

            <div class="row card-body">
                <div class="col-md-3">
                    Google
                </div>
                <div class="col-md-5">
                    Foundations of User Experience Design
                </div>

                <div class="col-md-4 text-muted">
                    June 2021
                </div>
                <div class="col-md-12">
                    <a href="https://www.coursera.org/account/accomplishments/verify/72CKVFBX8NUK">view certificate</a>
                </div>
            </div>
        </div>

        <div class="card mb-4 print">

            <div class="row card-body">
                <div class="col-md-3">
                    Collège de Maisonneuve
                </div>
                <div class="col-md-5">
                    Design Thinking et Design UX 
                </div>

                <div class="col-md-4 text-muted">
                    February 2021
                </div>
                <div class="col-md-12">
                    <a href="https://drive.google.com/file/d/1ohPt8woroSxuQgHLLKlUlE-X81ZGSuvh/view">view certificate</a>
                </div>
            </div>
        </div>

        <div class="card mb-4 print">

            <div class="row card-body">
                <div class="col-md-3">
                    Angular University - Udemy
                </div>
                <div class="col-md-5">
                    Reactive Extensions Angular Course with RxJS
                </div>

                <div class="col-md-4 text-muted">
                    January 2021
                </div>
                <div class="col-md-12">
                    <a href="https://www.udemy.com/certificate/UC-a6867eab-fa0f-4021-b15c-0d151025f602/">view certificate</a>
                </div>
            </div>
        </div>

        <h3 class="screen">Projects</h3>

        {{#each project}}
        <div class="card mt-4 screen">
            <div class="card-body">
                <a class="mb-2" href="{{ website }}"> {{ header }} </a>

                {{{markdown contents }}}

                <div>
                    {{#each skills }}
                    <span class="badge badge-primary">- {{ this }}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>

</html>
