@media print {
  body {
    font-size: 17px;
    margin: 0;
    padding: 0;
  }

  .container-page {
    margin: 0;
    padding: 0;
  }

  .header {
    margin: 0;
    padding: 0;
  }

  .screen {
    display: none;
    margin: 0;
    padding: 0;
  }

  .summary-title {
    margin: 0;
    padding: 0 0 0.5em 0;
  }

  .card {
    border: none;
  }

  .card-body {
    padding: 0;
  }

  .badge {
    border: 0.1rem solid #868e96;
  }

  .badge-primary {
    color: inherit;
    background-color: inherit;
    border: none;
    margin-top: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .jobtitle {
    margin-bottom: 0em;
    margin-top: 0em;
  }

  .edu {
    margin: 0;
    padding: 0;
  }

  #prof {
    padding: 0;
    margin: 0;
  }

  .school.print {
    padding-top: 1em;
  }
}

@media not print {
  .print {
    display: none;
  }

  footer.ux {
    padding-top: 2em;
    height: 15em;
    background-color: #f1f1f1;
    text-align: center;
    opacity: 1;
    background-image: linear-gradient(#ffffff 0.8px, transparent 0.8px),
      linear-gradient(90deg, #ffffff 0.8px, transparent 0.8px),
      linear-gradient(#ffffff 0.4px, transparent 0.4px),
      linear-gradient(90deg, #ffffff 0.4px, #f1f1f1 0.4px);
    background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
    background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px,
      -0.4px -0.4px;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
  }

  .row.edu {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  }

  .container-page {
    margin-top: 10px;
    margin-bottom: 10px;
    position: center;
    padding: 0 20%;
  }

  @media (max-width: 768px) {
    .container-page {
      padding: 0 5%;
    }
  }

  #name {
    font-family: "Roboto Slab", serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  #title {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    margin-bottom: 2rem;
  }

  .text-muted {
    font-family: "Inter", serif;
    font-size: 0.8em;
    color: gray;
  }

  .badge {
    margin: 6px;
  }

  dt.contact {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    letter-spacing: -0.05em;
    color: black;
  }

  dd.contact {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    letter-spacing: -0.05em;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 300;
    margin: 0;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  dt {
    font-weight: normal;
  }

  strong {
    font-weight: 500;
  }

  button.screen a {
    color: white;
  }
}

a .fa {
  text-decoration: none !important;
  margin-right: 5px;
}

.badge {
  font-weight: normal;
  letter-spacing: 0.05rem;
  color: black;
  background-color: rgba(184, 255, 231, 0.5);
}

.badge-lighter {
  font-weight: normal;
  letter-spacing: 0.02rem;
  color: #666666;
  padding: 0.8em;
  background: #f8f8f8;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

p {
  font-family: "Inter", sans-serif;
}

.btn.btn-light {
  margin-top: 1em;
  margin-bottom: 2em;
}
@media print {
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  } 

  .col-print-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-print-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-print-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-print-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-print-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-print-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-print-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-print-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-print-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-print-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-print-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-print-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #title {
    font-weight: 300;
  }
}

